<div class="jumbotron  bg-light py-3">
    <h1 class="display-4 text-center">
        Payment details register
    </h1>
</div>

<div class="row py-4">
    <div class="col-md-6"><app-payment-detail-form></app-payment-detail-form></div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>Card Owner</th>
                    <th>Card Number</th>
                    <th>Exp. Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.listOfCards">
                    <td>{{pd.cardOwnerName}}</td>
                    <td>{{pd.cardNumber}}</td>
                    <td>{{pd.expirationDate}}</td>
                    <td><i class="far fa-trash-alt fa-lg text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
